<div class="comment">
	<div class="comment__author"> {{ author }} </div>
	<div class="comment__date"> {{ date }} </div>
	<div class="comment__text"> {{ comment }} </div>
	<div class="comment__controls">
		<div class="comment__reply">reply</div>
		<div class="comment__edit">edit</div>
		<div class="comment__remove">remove</div>
	</div>
	<div class="comment__info">
		<div class="comment__down">-</div>
		<div class="comment__rating"> {{ rating }} </div>
		<div class="comment__up">+</div>
	</div>
</div>