<div class="comment">
	<div class="comment__author"> {{ author }} </div>
	<div class="comment__date"> {{ date }} </div>
	<div class="comment__text comment__text_deleted"> Сообщение удалено </div>
</div>