<ul class="comment-sort">
	<li class="comment-sort__item">Сортировать: </li>
	<li class="comment-sort__item">
		<a id="sortDate" href="#">по дате</a>
	</li>
	<li class="comment-sort__item">
		<a id="sortRating" href="#">по рейтингу</a>
	</li>
	<li class="comment-sort__item">
		<a id="treeMode" href="#">в виде дерева</a>
	</li>
</ul>