<ul class="comment-sort">
	<li class="comment-sort__item">Сортировать: </li>
	<li class="comment-sort__item">
		<a id="sortDate" class="i-sort-date" href="#">по дате</a>
	</li>
	<li class="comment-sort__item">
		<a id="sortRating" class="i-sort-rate" href="#">по рейтингу</a>
	</li>
	<li class="comment-sort__item">
		<a id="treeMode" class="i-sort-tree" href="#">в виде дерева</a>
	</li>
</ul>