<div class="add-from">
	<div class="add-from__author"><input type="text"></div>
	<div class="add-from__text">
		<textarea></textarea>
	</div>
	<div class="add-from__error"></div>
	<div class="add-from__add">Добавить</div>
</div>
