body
    canvas
        position: absolute
        display: block
        top: 50%
        left: 50%
        margin: -300px


.comment
    margin-bottom: 30px
    padding: 15px
    border: 1px solid crimson
    &__author
        margin-bottom: 5px
        font-size: 12px
        font-weight: bold
    &__text
        margin-bottom: 10px
        padding: 15px 35px
        font-size: 20px
        border: 1px solid crimson
    &__controls
        text-align: right
    &__edit, &__remove
        display: inline-block
        margin: 0 10px
        padding: 3px 5px
        font-size: 10px
        cursor: pointer
        border-radius: 5px
        transition: background-color 0.25s ease-out
        &:hover
            background-color: lightgray
